* {
  font-family: "Times New Roman", Times, serif;
  background: #40e090;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  background: #7efdf1;
  margin-top: 0;
  padding: 10px;
}

ol {
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
  height: 350px;
  width: 330px;
  padding: 10px;
  font-size: 20px;
  background: brown;
  margin: 10px;
}

img {
  margin-top: 10px;

  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

a {
  text-decoration: none;
  color: #ffffff;
  border: solid 1px brown;
  padding: 5px;
  background: brown;
}
